In [2]:
import pandas as pd

In [3]:
metadata = pd.read_parquet('../CellMetadataSyn18485175.parquet')

In [4]:
metadata.head()

,Unnamed: 0,projid,TAG,age_first_ad_dx,msex,apoe_genotype,sample,broad.cell.type
0,0,11409232,AAACGGGAGATCCCGC.1,None,1.0,33.0,1,Ex
1,1,11409232,AAATGCCTCCAATGGT.1,None,1.0,33.0,1,Ex
2,2,11409232,AACCATGTCAGTGCAT.1,None,1.0,33.0,1,Ex
3,3,11409232,AACCATGTCTGTACGA.1,None,1.0,33.0,1,Ex
4,4,11409232,AACCGCGTCCGCATAA.1,None,1.0,33.0,1,Ex

In [5]:
metadata.apoe_genotype.value_counts()

apoe_genotype
33.0    36203
23.0    17526
34.0     9166
44.0     6181
Name: count, dtype: int64

controls = metadata[metadata.age_first_ad_dx.isna()]

In [6]:
controls = metadata[metadata.age_first_ad_dx.isna()]

In [7]:
cases = metadata[metadata.age_first_ad_dx.notna()]

In [8]:
controls.head()

,Unnamed: 0,projid,TAG,age_first_ad_dx,msex,apoe_genotype,sample,broad.cell.type
0,0,11409232,AAACGGGAGATCCCGC.1,None,1.0,33.0,1,Ex
1,1,11409232,AAATGCCTCCAATGGT.1,None,1.0,33.0,1,Ex
2,2,11409232,AACCATGTCAGTGCAT.1,None,1.0,33.0,1,Ex
3,3,11409232,AACCATGTCTGTACGA.1,None,1.0,33.0,1,Ex
4,4,11409232,AACCGCGTCCGCATAA.1,None,1.0,33.0,1,Ex

In [9]:
controls.shape, metadata.shape, cases.shape

((44486, 8), (70634, 8), (26148, 8))

In [10]:
metadata.age_first_ad_dx.value_counts()

age_first_ad_dx
90+                   5066
83.723477070499655    2853
86.92402464065708     2279
86.885694729637237    2024
75.529089664613281    1877
86.934976043805619    1855
68.925393566050644    1572
77.33607118412047     1516
82.028747433264883    1447
73.051334702258728    1304
77.037645448323062    1274
85.136208076659827    1171
84.646132785763172     815
83.474332648870643     745
84.522929500342229     350
Name: count, dtype: int64

In [11]:
cases.head

<bound method NDFrame.head of        Unnamed: 0    projid                  TAG     age_first_ad_dx  msex  \
847           847  10248033   AAACCTGCACTTACGA.4  86.885694729637237   1.0
848           848  10248033   AAACCTGTCATTTGGG.4  86.885694729637237   1.0
849           849  10248033   AAACGGGGTCTTCGTC.4  86.885694729637237   1.0
850           850  10248033   AAACGGGGTGCAGACA.4  86.885694729637237   1.0
851           851  10248033   AAACGGGTCATGTAGC.4  86.885694729637237   1.0
...           ...       ...                  ...                 ...   ...
70629       70629  11302830  AGGCCGTAGAGCAATT.48  84.522929500342229   1.0
70630       70630  11302830  AGTGAGGGTGCAACGA.48  84.522929500342229   1.0
70631       70631  11302830  CACACTCTCTCTGAGA.48  84.522929500342229   1.0
70632       70632  11302830  TAGTGGTAGAATGTTG.48  84.522929500342229   1.0
70633       70633  11302830  TGCCCATAGTAGGTGC.48  84.522929500342229   1.0

       apoe_genotype  sample broad.cell.type
847             44.0       4              Ex
848             44.0       4              Ex
849             44.0       4              Ex
850             44.0       4              Ex
851             44.0       4              Ex
...              ...     ...             ...
70629           34.0      48             Per
70630           34.0      48             Per
70631           34.0      48             Per
70632           34.0      48             End
70633           34.0      48             Per

[26148 rows x 8 columns]>

In [12]:
controls.apoe_genotype.value_counts(normalize=True)

apoe_genotype
33.0    0.570001
23.0    0.238516
34.0    0.168748
44.0    0.022736
Name: proportion, dtype: float64

In [13]:
cases.apoe_genotype.value_counts(normalize=True)

apoe_genotype
33.0    0.448753
23.0    0.278683
44.0    0.199059
34.0    0.073505
Name: proportion, dtype: float64