In [2]:
import os
import pandas as pd
gene_names = pd.read_csv('/n/groups/patel/randy/single_cell/syn18485175/data/filtered_gene_row_names.txt')

# Display the first few rows of the DataFrame

print(gene_names.head())

  FO538757.2
0     SAMD11
1      NOC2L
2     KLHL17
3    PLEKHN1
4      PERM1

In [3]:
from scipy.io import mminfo,mmread

In [4]:
filteredcountmatrix = mmread('/n/groups/patel/randy/single_cell/syn18485175/data/filtered_count_matrix.mtx')

In [5]:
Matrix = (mmread('/n/groups/patel/randy/single_cell/syn18485175/data/filtered_count_matrix.mtx'))
B = Matrix.todense()
cell_countmatrix = pd.DataFrame(B)
print(cell_countmatrix.head())

   0      1      2      3      4      5      6      7      8      9      ...  \
0      0      1      1      0      1      0      0      0      0      0  ...
1      0      0      0      0      0      0      0      0      0      0  ...
2      0      0      0      1      0      0      0      0      2      0  ...
3      0      0      0      0      0      0      0      0      0      0  ...
4      0      0      0      0      0      0      0      0      0      0  ...

   70624  70625  70626  70627  70628  70629  70630  70631  70632  70633
0      0      0      0      0      1      0      0      0      0      0
1      0      0      0      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0      0      0      0
3      1      0      0      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0      0      0      0

[5 rows x 70634 columns]

In [6]:
print(len(cell_countmatrix))
print(len(gene_names))

17926
17925

In [7]:
with open('/n/groups/patel/randy/single_cell/syn18485175/data/filtered_gene_row_names.txt', 'r') as f:
    gene_names = f.read().splitlines()

assert len(gene_names) == len(cell_countmatrix), "The number of gene names must match the number of rows in the matrix"

cell_countmatrix.index = gene_names

print(cell_countmatrix.head())
print(len(cell_countmatrix))

            0      1      2      3      4      5      6      7      8      \
FO538757.2      0      1      1      0      1      0      0      0      0
SAMD11          0      0      0      0      0      0      0      0      0
NOC2L           0      0      0      1      0      0      0      0      2
KLHL17          0      0      0      0      0      0      0      0      0
PLEKHN1         0      0      0      0      0      0      0      0      0

            9      ...  70624  70625  70626  70627  70628  70629  70630  \
FO538757.2      0  ...      0      0      0      0      1      0      0
SAMD11          0  ...      0      0      0      0      0      0      0
NOC2L           0  ...      0      0      0      0      0      0      0
KLHL17          0  ...      1      0      0      0      0      0      0
PLEKHN1         0  ...      0      0      0      0      0      0      0

            70631  70632  70633
FO538757.2      0      0      0
SAMD11          0      0      0
NOC2L           0      0      0
KLHL17          0      0      0
PLEKHN1         0      0      0

[5 rows x 70634 columns]
17926

In [8]:
CellMetadataSyn18 = pd.read_csv('/home/adm808/CellMetadataSyn18485175.csv')
print(CellMetadataSyn18.head())

   Unnamed: 0    projid                 TAG age_first_ad_dx  msex  \
0           0  11409232  AAACGGGAGATCCCGC.1             NaN   1.0
1           1  11409232  AAATGCCTCCAATGGT.1             NaN   1.0
2           2  11409232  AACCATGTCAGTGCAT.1             NaN   1.0
3           3  11409232  AACCATGTCTGTACGA.1             NaN   1.0
4           4  11409232  AACCGCGTCCGCATAA.1             NaN   1.0

   apoe_genotype  sample broad.cell.type
0           33.0       1              Ex
1           33.0       1              Ex
2           33.0       1              Ex
3           33.0       1              Ex
4           33.0       1              Ex

In [9]:
import pandas as pd

# Step 1: Load the cell tags file
cell_tags = pd.read_csv('/n/groups/patel/randy/single_cell/syn18485175/data/filtered_column_metadata.txt', delim_whitespace=True)

# Assuming the relevant column in the cell tags file is named 'cell_tag'
# If the column has a different name, replace 'cell_tag' with the actual column name
cell_tags_list = cell_tags['TAG'].tolist()

cell_countmatrix.columns = cell_tags_list

print(cell_countmatrix.head())
print(len(cell_countmatrix))

            AAACGGGAGATCCCGC.1  AAATGCCTCCAATGGT.1  AACCATGTCAGTGCAT.1  \
FO538757.2                   0                   1                   1
SAMD11                       0                   0                   0
NOC2L                        0                   0                   0
KLHL17                       0                   0                   0
PLEKHN1                      0                   0                   0

            AACCATGTCTGTACGA.1  AACCGCGTCCGCATAA.1  AACGTTGGTTCAGGCC.1  \
FO538757.2                   0                   1                   0
SAMD11                       0                   0                   0
NOC2L                        1                   0                   0
KLHL17                       0                   0                   0
PLEKHN1                      0                   0                   0

            AACTGGTGTACCGGCT.1  AAGACCTAGTTAACGA.1  AAGGAGCAGCAATCTC.1  \
FO538757.2                   0                   0                   0
SAMD11                       0                   0                   0
NOC2L                        0                   0                   2
KLHL17                       0                   0                   0
PLEKHN1                      0                   0                   0

            AAGGAGCTCTGCTGCT.1  ...  GCCTCTACACTTAACG.44  TCATTTGTCCGTAGGC.44  \
FO538757.2                   0  ...                    0                    0
SAMD11                       0  ...                    0                    0
NOC2L                        0  ...                    0                    0
KLHL17                       0  ...                    1                    0
PLEKHN1                      0  ...                    0                    0

            GATGAAACAGCGTAAG.45  GTGCGGTCAATCGGTT.46  ACTTGTTAGGAATTAC.48  \
FO538757.2                    0                    0                    1
SAMD11                        0                    0                    0
NOC2L                         0                    0                    0
KLHL17                        0                    0                    0
PLEKHN1                       0                    0                    0

            AGGCCGTAGAGCAATT.48  AGTGAGGGTGCAACGA.48  CACACTCTCTCTGAGA.48  \
FO538757.2                    0                    0                    0
SAMD11                        0                    0                    0
NOC2L                         0                    0                    0
KLHL17                        0                    0                    0
PLEKHN1                       0                    0                    0

            TAGTGGTAGAATGTTG.48  TGCCCATAGTAGGTGC.48
FO538757.2                    0                    0
SAMD11                        0                    0
NOC2L                         0                    0
KLHL17                        0                    0
PLEKHN1                       0                    0

[5 rows x 70634 columns]
17926

/tmp/ipykernel_26158/721496312.py:4: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  cell_tags = pd.read_csv('/n/groups/patel/randy/single_cell/syn18485175/data/filtered_column_metadata.txt', delim_whitespace=True)

In [10]:
#cell_countmatrix.to_csv('/home/adm808/CellMatrixSyn18485175.csv', index=False)

In [11]:
import pyarrow.parquet as pq
cell_countmatrix.to_parquet('/home/adm808/CellMatrixSyn18485175.parquet')

In [12]:
#print(CellMatrixSyn18485175.head())