In [1]:
#This file is only for data in the syn18485175 folder. Any code taken from this file, you need to chang the file names to avoid
#over writing the previous files.

In [2]:
import os
import pandas as pd

In [3]:
import os
import pandas as pd
data_directory = input("Name of directory")
#data_directory = '/n/groups/patel/randy/single_cell/syn18485175/data/'
files = os.listdir(data_directory)
print("Files in directory:", files)

Name of directory /n/groups/patel/randy/single_cell/syn18485175/data/

Files in directory: ['._CellRangerOutput_barcodes.tsv', '._CellRangerOutput_genes.tsv', '._CellRangerOutput_matrix.mtx', '._filtered_column_metadata.txt', '._filtered_count_matrix.mtx', '._filtered_gene_row_names.txt', '._notfiltered_column_metadata.txt', '._notfiltered_count_matrix.mtx', '._notfiltered_gene_row_names.txt', 'CellRangerOutput_barcodes.tsv', 'CellRangerOutput_genes.tsv', 'CellRangerOutput_matrix.mtx', 'filtered_column_metadata.txt', 'filtered_count_matrix.mtx', 'filtered_gene_row_names.txt', 'notfiltered_column_metadata.txt', 'notfiltered_count_matrix.mtx', 'notfiltered_gene_row_names.txt']

In [4]:
#These are the files that I need: CellRangerOutput_barcodes.tsv, filtered_column_metadata.txt. 
#From my home directory I need to get the file patientnumber_diagnosis.csv. 
#I need to attach the diagnosis to every instnace of the projID in filtered_column_metadata.txt.

In [5]:
import pandas as pd
filtered_metadata = pd.read_csv('filtered_column_metadata.txt', delim_whitespace=True)
#print(filtered_metadata.head())
patient_diagnosis = pd.read_csv('patientnumber_metadata.csv')
#print(patient_diagnosis.head())
patient_metadata = pd.merge(filtered_metadata, patient_diagnosis, on='projid', how='left')

print(patient_metadata.head(8000))
patient_metadata.to_csv('initialmerged_file.csv', index=False, sep=',')

                      TAG    projid      tsne1      tsne2  pre.cluster  \
0      AAACGGGAGATCCCGC.1  11409232  18.076541  43.899396           15
1      AAATGCCTCCAATGGT.1  11409232   8.130535  20.687424            3
2      AACCATGTCAGTGCAT.1  11409232  17.088242  47.272289           15
3      AACCATGTCTGTACGA.1  11409232  15.482062  23.718378            3
4      AACCGCGTCCGCATAA.1  11409232  28.993102  16.223905            2
...                   ...       ...        ...        ...          ...
7995  GTCTTCGAGTTATCGC.10  20170043  19.676385 -25.876660            4
7996  GTCTTCGGTCCGAGTC.10  20170043  34.107218 -18.590653            2
7997  GTCTTCGGTCGCATCG.10  20170043   4.859117  -3.281372            6
7998  GTGAAGGCAGGACGTA.10  20170043  33.316535 -36.790915            2
7999  GTGAAGGGTTACTGAC.10  20170043  27.763994 -11.517600           16

     broad.cell.type Subcluster  msex  apoe_genotype     age_first_ad_dx  \
0                 Ex        Ex8   1.0           33.0                 NaN
1                 Ex        Ex0   1.0           33.0                 NaN
2                 Ex        Ex8   1.0           33.0                 NaN
3                 Ex        Ex0   1.0           33.0                 NaN
4                 Ex        Ex0   1.0           33.0                 NaN
...              ...        ...   ...            ...                 ...
7995              Ex        Ex1   0.0           33.0  83.723477070499655
7996              Ex        Ex4   0.0           33.0  83.723477070499655
7997              Ex        Ex5   0.0           33.0  83.723477070499655
7998              Ex        Ex4   0.0           33.0  83.723477070499655
7999              Ex       Ex12   0.0           33.0  83.723477070499655

      braaksc
0         3.0
1         3.0
2         3.0
3         3.0
4         3.0
...       ...
7995      5.0
7996      5.0
7997      5.0
7998      5.0
7999      5.0

[8000 rows x 11 columns]

/tmp/ipykernel_14841/1988133050.py:2: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  filtered_metadata = pd.read_csv('filtered_column_metadata.txt', delim_whitespace=True)

In [6]:
initialmerged_file = pd.read_csv('/home/adm808/initialmerged_file.csv')
print(initialmerged_file.head())

                  TAG    projid      tsne1      tsne2  pre.cluster  \
0  AAACGGGAGATCCCGC.1  11409232  18.076541  43.899396           15
1  AAATGCCTCCAATGGT.1  11409232   8.130535  20.687424            3
2  AACCATGTCAGTGCAT.1  11409232  17.088242  47.272289           15
3  AACCATGTCTGTACGA.1  11409232  15.482062  23.718378            3
4  AACCGCGTCCGCATAA.1  11409232  28.993102  16.223905            2

  broad.cell.type Subcluster  msex  apoe_genotype age_first_ad_dx  braaksc
0              Ex        Ex8   1.0           33.0             NaN      3.0
1              Ex        Ex0   1.0           33.0             NaN      3.0
2              Ex        Ex8   1.0           33.0             NaN      3.0
3              Ex        Ex0   1.0           33.0             NaN      3.0
4              Ex        Ex0   1.0           33.0             NaN      3.0

In [7]:
#Sample_key.to_csv('Sample_key1.csv', index=False, sep='')
Sample_key = pd.read_csv('/home/adm808/Sample_key.csv', delim_whitespace=True)
print(Sample_key.head())
merged_patient_metadata = pd.read_csv('/home/adm808/initialmerged_file.csv')
final_patient_metadata = pd.merge(merged_patient_metadata, Sample_key, on='projid', how='left')
final_patient_metadata.to_csv('final_patient_metadata.csv', sep=',', index=False)
print(final_patient_metadata.head())

   sample    projid
0       1  11409232
1       2  11336574
2       3  10260309
3       4  10248033
4       5  20207013

/tmp/ipykernel_14841/1873604594.py:2: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  Sample_key = pd.read_csv('/home/adm808/Sample_key.csv', delim_whitespace=True)

                  TAG    projid      tsne1      tsne2  pre.cluster  \
0  AAACGGGAGATCCCGC.1  11409232  18.076541  43.899396           15
1  AAATGCCTCCAATGGT.1  11409232   8.130535  20.687424            3
2  AACCATGTCAGTGCAT.1  11409232  17.088242  47.272289           15
3  AACCATGTCTGTACGA.1  11409232  15.482062  23.718378            3
4  AACCGCGTCCGCATAA.1  11409232  28.993102  16.223905            2

  broad.cell.type Subcluster  msex  apoe_genotype age_first_ad_dx  braaksc  \
0              Ex        Ex8   1.0           33.0             NaN      3.0
1              Ex        Ex0   1.0           33.0             NaN      3.0
2              Ex        Ex8   1.0           33.0             NaN      3.0
3              Ex        Ex0   1.0           33.0             NaN      3.0
4              Ex        Ex0   1.0           33.0             NaN      3.0

   sample
0       1
1       1
2       1
3       1
4       1

In [8]:
#Now we have a merged data frame. We need to select only the columns of relevance. 
#Columns of relevance are TAG, projid, age_first_ad_dx, and broad.cell.type.

df = pd.DataFrame(final_patient_metadata)
selected_columns = ['projid', 'TAG', 'age_first_ad_dx', 'msex', 'apoe_genotype', 'sample', 'broad.cell.type']
new_df = df[selected_columns]

# Save the new DataFrame to a file
new_df.to_csv('selected_columns_file.txt', index=False, sep=' ')

# Verify the new DataFrame
print(new_df)

         projid                  TAG     age_first_ad_dx  msex  apoe_genotype  \
0      11409232   AAACGGGAGATCCCGC.1                 NaN   1.0           33.0
1      11409232   AAATGCCTCCAATGGT.1                 NaN   1.0           33.0
2      11409232   AACCATGTCAGTGCAT.1                 NaN   1.0           33.0
3      11409232   AACCATGTCTGTACGA.1                 NaN   1.0           33.0
4      11409232   AACCGCGTCCGCATAA.1                 NaN   1.0           33.0
...         ...                  ...                 ...   ...            ...
70629  11302830  AGGCCGTAGAGCAATT.48  84.522929500342229   1.0           34.0
70630  11302830  AGTGAGGGTGCAACGA.48  84.522929500342229   1.0           34.0
70631  11302830  CACACTCTCTCTGAGA.48  84.522929500342229   1.0           34.0
70632  11302830  TAGTGGTAGAATGTTG.48  84.522929500342229   1.0           34.0
70633  11302830  TGCCCATAGTAGGTGC.48  84.522929500342229   1.0           34.0

       sample broad.cell.type
0           1              Ex
1           1              Ex
2           1              Ex
3           1              Ex
4           1              Ex
...       ...             ...
70629      48             Per
70630      48             Per
70631      48             Per
70632      48             End
70633      48             Per

[70634 rows x 7 columns]

In [9]:
apoe_genotype = pd.get_dummies(new_df, columns = ["apoe_genotype"])

In [10]:
new_df.to_csv('/home/adm808/CellMetadataSyn18485175.csv')

In [11]:
CellMetadataSyn18 = pd.read_csv('/home/adm808/CellMetadataSyn18485175.csv')
print(CellMetadataSyn18.head())

   Unnamed: 0    projid                 TAG age_first_ad_dx  msex  \
0           0  11409232  AAACGGGAGATCCCGC.1             NaN   1.0
1           1  11409232  AAATGCCTCCAATGGT.1             NaN   1.0
2           2  11409232  AACCATGTCAGTGCAT.1             NaN   1.0
3           3  11409232  AACCATGTCTGTACGA.1             NaN   1.0
4           4  11409232  AACCGCGTCCGCATAA.1             NaN   1.0

   apoe_genotype  sample broad.cell.type
0           33.0       1              Ex
1           33.0       1              Ex
2           33.0       1              Ex
3           33.0       1              Ex
4           33.0       1              Ex

In [12]:
CellMetadataSyn18.apoe_genotype.value_counts()

apoe_genotype
33.0    36203
23.0    17526
34.0     9166
44.0     6181
Name: count, dtype: int64

In [13]:
apoe_genotype.head()

,projid,TAG,age_first_ad_dx,msex,sample,broad.cell.type,apoe_genotype_23.0,apoe_genotype_33.0,apoe_genotype_34.0,apoe_genotype_44.0
0,11409232,AAACGGGAGATCCCGC.1,NaN,1.0,1,Ex,False,True,False,False
1,11409232,AAATGCCTCCAATGGT.1,NaN,1.0,1,Ex,False,True,False,False
2,11409232,AACCATGTCAGTGCAT.1,NaN,1.0,1,Ex,False,True,False,False
3,11409232,AACCATGTCTGTACGA.1,NaN,1.0,1,Ex,False,True,False,False
4,11409232,AACCGCGTCCGCATAA.1,NaN,1.0,1,Ex,False,True,False,False